/* Стилизация аккордеона */
.accordeon-item {
    margin-top: 8px;
    border: var(--border-main);
    border-radius: 8px;
    width: 730px;
    background-color:var(--bg-main);
    color: var(--text-color-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 24px 0 24px 32px;
    position:relative;
}

.accordeon-item__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 1em;
}

.accordeon-item__summary:focus {
    outline: none;
}

.accordeon-item__summary::-webkit-details-marker {
    display: none;
}

.accordeon-item__text{
    padding-top: 16px;
    width: 650px;
}

.accordeon-item__marker {
    display:inline-block;
    /* position:absolute;
    right:5%; */
    width:18px;
    height:10px;
    pointer-events: none;
    transform:rotate(-90deg);
}

.accordeon-item[open] .accordeon-item__marker {
    transform: rotate(0);
}