/* Стилизация аккордеона */

.container {
    margin-bottom: 8px;
}

.container:last-child {
    margin-bottom: 0;
}

.accordeon-item {
    border: var(--border-main);
    border-radius: 8px;
    width: 730px;
    background-color:var(--bg-main);
    color: var(text-color-1);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 24px 0 24px 32px;
    position:relative;
}

.accordeon-item__summary {
    display: block;
}

.accordeon-item__summary:focus {
    outline: none;
}

.accordeon-item__summary::-webkit-details-marker {
    display: none;
}

.accordeon-item__text{
    padding-top: 16px;
    width: 650px;
}


/* тут застрял. не понимаю, почему:
1 - при закрытом аккордеоне стрелка не отображается
2 -  при pointer-events:none все равно не событие клика не пробрасывается на область аккордеона под маркером*/

.marker {
    display:inline-block;
    position:absolute;
    right:5%;
    width:18px;
    height:10px;
    pointer-events: none;
}