.toggler__control {
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
    margin: 0;
}

.toggler__control:checked ~ .toggler__state {
    border: 1px solid var(--accent);
    background: var(--accent);
    padding-right: 1px;
    justify-content: flex-end;
}

.toggler__control:checked ~ .toggler__state .toggler__marker{
    background: var(--white);
}

.toggler__control:disabled ~ .toggler__state {
    background: var(--bg-secondary);
}

.toggler__control:disabled ~ .toggler__state .toggler__marker {
    background: var(--bg-toggler-marker);
}

.toggler {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggler__state {
    width: 52px;
    height: 28px;
    border: var(--border-third);
    border-radius: 16px;
    box-sizing: border-box;
    padding-left: 1px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.toggler__marker {
    width: 24px;
    height: 24px;
    background: var(--bg-secondary);
    border-radius: 50%;
}

.toggler__text {
    color: var(--text-main-color);
    font-size: 16px;
    line-height: 24px;
}