@import '../fonts/fonts.css';

:root {
    --white: #FFFFFF;
    --black: #212429;    
    --text-bold-color: var(--black);
    --text-main-color: #495057;
    --text-secondary-color: #DDE2E5;
    --text-notification: #D84910;
    --text-third-color: #ACB5BD;

    /* цвет заголовка чисел в календаре выбивается из общего шаблона, больше нигде в проекте не нашел вхождений этого цвета, поэтому задал пока так. или есть способ, как лучше сделать?) */
    --text-calendar-main: #334D6E;


    --bg-main: var(--white);
    --bg-secondary: #DDE2E5;
    --bg-third: #F9FAFC;
    --bg-black-half-opacity:rgba(0, 0, 0, 0.5);

    /* здесь аналогично, не нашёл больше вхождений этого цвета */
    --bg-item-calendar: #a0b1f533;


    --accent: #4263EB;
    --accent-text-1: var(--white);
    --primary-active-bg: var(--accent);
    --primary-active-text: var(--white);
    --primary-hover-bg: #2342C0;
    --secondary-active-bg: #7048E8;
    --secondary-hover-bg: #5028C6;
    --border-main: 1px solid #ACB5BD;
    --border-secondary: 1px solid var(--black);
    --gradient-1: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    

    /* данные переменные у меня почему-то не работают в медиа-запросах */
    --desktop-width: 1024px;
    --tablet-width: 786px;
    --touch-width: 468px;
}

* {
    font-family: 'Roboto', sans-serif;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin:0;
    padding: 0;
}

--desktop-width: 1024px;