.footer {
    height: 130px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    background-color:var(--bg-third);
    text-align: center;
    position: relative;
    bottom: 11px;
    width: 640px;
    margin: 0 auto;
    }

    @media all and (max-width: 768px) {
        .footer {
            display: none;
        }
    }

.footer__title {
    font-size: 38px;
    font-weight: 500;
    line-height: 48px;
    color: var(--black);
}

.footer__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}