@import "../../assets/css/variables.scss";

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &__control {
        width: 1px;
        height: 1px;
        opacity: 0;
        pointer-events: none;
    }

    &__control:checked ~ &__state {
        background: $accent;
        border-color: $accent;
    }

    &__control:checked ~ &__state &__icon{
        display:block;
    }

    &__control:focus ~ &__legend {
        text-decoration: underline;
    }

    &__control:disabled ~ &__state {
        background: $bg-secondary;
        cursor: not-allowed;
    }

    &__state {
        height: 28px;
        width: 28px;
        border: 1px solid $bg-secondary;
        border-radius: 4px;    
        box-sizing: border-box;
        flex-shrink: 0;
        flex-grow: 0;
        position: relative;
    }

    &__legend {
        font-size: 16px;
        line-height: 24px;
        margin-left: 12px;
    }

    &__icon {
        display: none;
        width: 15px;
        height: 13px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

}