body {
    margin:0;
    height:100vh;
}

.page {
    height:100%;    
    background: var(--bg-third);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-row-gap:36px;
    grid-template-areas:  "header"
                          "main" 
                          "footer";
}

.page__header {
    height: 82px;
    background: var(--white);
    grid-area: header;
}

.page__main {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 56px;
    width:100%;
    max-width: 1110px;
    justify-self: center;
    background: inherit;
}

.menu {
    width:229px;
    background: inherit;
    margin-left: 165px;
}

.menu__title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 16px;
    font-weight: 400;
}

.menu__item {
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
    text-decoration: none;
}

.menu__item:last-child {
    margin-top: 30px;
}

.menu__item_active {
    color: var(--text-notification);
}


.component {
    background: var(--white);    
    border-radius: 12px;
    padding: 32px 48px;
}

.page__footer {
    height: 130px;
    grid-area: footer;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--text-third-color);
}